<%- include("partials/header") %> 

<h1>Proforma</h1>


<form action="/invoice" method="POST">
    <input type="text" class="form-control" placeholder="Nombre Cliente" name="nombreCliente">
    <% listaProductos.forEach((producto) =>{ %> 
        <div class="input-group mb-3 mt-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default"><%= producto.nombre %> </span>
            </div>
            <select class="custom-select" name="select<%= producto.id %>">
                <option selected>Elegir...</option>
                <% listaCapacidades.forEach(capacidad => { %> 
                    <option value=<%= capacidad.nombre %>><%= capacidad.nombre %> </option>  
                <% }); %> 
            </select>
            <input type="text" class="form-control" placeholder="Cantidad" name="cant<%= producto.id %>">
            <input type="text" class="form-control" placeholder="Precio" name="precio<%= producto.id %>">
        </div>
        

    <% }); %> 

    <button class="btn btn-primary" type="submit">Proforma</button>
</form>


<%- include("partials/footer") %> 